<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>com.jemeisha.endpoints.Register</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>com.jemeisha.endpoints.Login</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>adminLogin</servlet-name>
    <servlet-class>com.jemeisha.endpoints.LoginAdmin</servlet-class>
<!--    <jsp-file>/admin/adminLogin.jsp</jsp-file>-->
  </servlet>

  <servlet>
    <servlet-name>adminLogout</servlet-name>
    <servlet-class>com.jemeisha.endpoints.AdminLogout</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>createOrder</servlet-name>
    <servlet-class>com.jemeisha.endpoints.CreateOrder</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>adminDrivers</servlet-name>
    <jsp-file>/admin/drivers.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>adminCustomers</servlet-name>
    <jsp-file>/admin/customers.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>adminBookings</servlet-name>
    <jsp-file>/admin/adminBookings.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>adminBranches</servlet-name>
    <jsp-file>/admin/branches.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>adminVehicleCategory</servlet-name>
    <jsp-file>/admin/vehicleCategories.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>customerPanel</servlet-name>
    <jsp-file>/customerPanel.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>driverPanel</servlet-name>
    <jsp-file>/driverPanel.jsp</jsp-file>
  </servlet>


  <servlet>
    <servlet-name>driverLogin</servlet-name>
<!--    <jsp-file>/driverLogin.jsp</jsp-file>-->
    <servlet-class>com.jemeisha.endpoints.LoginDriver</servlet-class>
  </servlet>


  <servlet>
    <servlet-name>changeTripStatus</servlet-name>
    <servlet-class>com.jemeisha.endpoints.ChangeTripStatus</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>adminLogin</servlet-name>
    <url-pattern>/admin/login</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>adminLogout</servlet-name>
    <url-pattern>/admin/logout</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>adminDrivers</servlet-name>
    <url-pattern>/admin/drivers</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>adminCustomers</servlet-name>
    <url-pattern>/admin/customers</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>adminBookings</servlet-name>
    <url-pattern>/admin/bookings</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>adminBranches</servlet-name>
    <url-pattern>/admin/branches</url-pattern>
  </servlet-mapping>


  <servlet-mapping>
    <servlet-name>adminVehicleCategory</servlet-name>
    <url-pattern>/admin/vehicle-categories</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>customerPanel</servlet-name>
    <url-pattern>/customer-panel</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>driverPanel</servlet-name>
    <url-pattern>/driver-panel</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>createOrder</servlet-name>
    <url-pattern>/create-order</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>driverLogin</servlet-name>
    <url-pattern>/driver-login</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>changeTripStatus</servlet-name>
    <url-pattern>/driver/change-trip-status</url-pattern>
  </servlet-mapping>
</web-app>
